.headerArea {
    margin: 0px;
    padding: 0px;
    background: #00b9ff;
    border-top: 4px solid #089fd8;
}
.topArea{
    margin: 0px auto;
    padding: 0px;
    width: 1024px;
    .topInfo{
        margin: 0px;
        padding: 25px 0 25px 0;
        overflow: hidden;
        .logo{
            margin: 0px;
            padding: 0px;
            float: left;
        }
        .topRight {
            margin: 0px;
            padding: 0px;
            float: right;
            ul{
                margin: 0px;
                padding:0px;
                list-style: none;
                li{
                    margin: 7px 30px 0 0;
                    padding: 0px;
                    float: left;
                    font-size: 13px;
                    color: #fff;
                    i{
                        color: #0051a0;
                        margin-right: 10px;
                        font-size: 17px;
                    }
                    a{
                        color: #fff;
                    }
                    
                }
                li.appointBtn {
                   
                    margin-top: 0px;
                    margin-right: 0px;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 12px;
                    a{
                        display: block;
                        background: #0051a0;
                        display: block;
                        padding: 10px 20px;
                        border-radius: 20px;
                        transition: all 0.2s ease-in-out;
                        &:hover{
                            color: #fff;
                            background: #0797ce;
                            border-radius: 30px;
                            box-shadow: inset 2px 2px 3px #047aa6
                            
                        }
                    }
                    a.active-link {
                    color: #fff;
                    background: #0797ce;
                    border-radius: 30px;
                    box-shadow: inset 2px 2px 3px #047aa6
                    }
                    
                }
              
            }
        }
    }
}

.navArea{
    margin: 0px auto;
    padding: 4px 0 3px 0;
    width: 100%;
    border-top: 1px solid #43cbff;
    border-bottom: 4px solid #05adec;
    .navLink{
        margin: 0px auto;
        padding: 0px;
        width: 1024px;
        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
            float: left;
            li{
                margin: 0px;
                padding: 0px;
                font-size: 15px;
                text-transform: uppercase;
                color: #fff;
                font-weight: 700;
                float: left;
                margin-right: 5px;
                a{
                    margin: 0px;
                    padding: 15px 25px 13px 25px;
                    display: block;
                    color: #fff;
                    transition: all 0.2s ease-in-out;
                    &:hover{
                        color: #fff;
                        background: #0797ce;
                        border-radius: 30px;
                        box-shadow: inset 2px 2px 3px #047aa6
                    }
                }
                .active-link{
                    color: #fff;
                    background: #0797ce;
                    border-radius: 30px;
                    box-shadow: inset 2px 2px 3px #047aa6
                }
            }
        }
        ul.topSocal{
            margin: 0px;
            padding: 0px;
            list-style: none;
            float: right;
            li{
                margin: 0px;
                padding: 0px;
                font-size: 20px;
                a{
                    margin: 0px;
                    padding:13px 0 0 30px;
                    &:hover{
                        background: none;
                        color: #0051a0;
                        border-radius: 0px;
                        box-shadow:none;
                    }
                }
            }
        }
    }
}

