<footer class="footerWraper">
    <div class="footerArea">
        <aside class="companyInfo">
            <div class="footLogo">
                <img src="../assets/images/footer-logo.png" />
            </div>
            <p>With most of our dental services being twice as
                <br> cheap, we have thousands of patient every year.
                <br> We will help you smile beautifully!</p>
        </aside>

        <aside class="footAddress">
            <ul>
                <li>
                    <span class="icon fa fa-paper-plane"></span>
                    6087 Richmond hwy, Alexandria</li>

                <li>
                    <span class="icon fa fa-phone"></span>
                    <a href="tel: 15553295632">1.555.329.5632</a>

                </li>
                <a>

                </a>
                <li>
                    <a>
                        <span class="icon fa fa-envelope"></span>
                    </a>
                    <a href="mailto: whitenol@demolink.org">whitenol@demolink.org</a>
                </li>

                <li>
                    <span class="icon fa fa-code"></span>
                    <a href="https://www.templatemonster.com/">www.templatemonster.com</a>
                </li>
            </ul>
        </aside>

        <aside class="footSubscribe">


            <h2>Get All the Latest Tips!</h2>
            <p>Be up to date with our medical tips &amp; promo offers…</p>
            <div class="inputArea">
                <form>
                    <input type="text" name="nonce" value="enter your email">
                    <input type="button" value="submit">

                </form>
            </div>

        </aside>
    </div>
    <div class="copyWrite">
        <div class="copyWriteArea">
            <div class="copyLeft">
                2018 (c) Whitenol. All rights reserved.
            </div>
            <div class="footerSocal">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>