<div class="abPage">
  <div class="titleArea">

    <div class="breadCrumbs">
      <ul>
        <li>
          <a routerLink="" routerLinkActive="active-link">Home</a>
        </li>
        <li>/</li>
        <li>
          About Us
        </li>
      </ul>
    </div>
    <!-- end breadcrumbs -->

    <h2>About Us</h2>

  </div>

  <div class="abInfoBg">
    <div class="abInfo">
      <div class="abIntroLeft">
        <img src="../assets/images/about-pic.jpg" />
      </div>
      <div class="abIntroRight">
        <h2>Welcome to the Whitenol Clinic!</h2>
        <h3>At the Whitenol clinic, we see it as our mission to make every single American – from kids to adults to elderly people
          feel healthy and look healthy, with theoir white, bright smile!</h3>
        <p>Founded 25 years ago, our dental clinic team&nbsp; comprises of highly skilled and knowledgeable professionals. We
          all have a common goal – helping you! We offer same-day appointments – 6 days a week. We are open Monday through
          Sunday!
        </p>
      </div>
    </div>
  </div>
  <!-- end about information -->

  <div class="abHelpBg">
    <div class="abHelpInfo">
      <h2>We will help you with:</h2>
      <ul>
        <li>
          <div class="iconInfo">
            <img src="../assets/images/restorative-icon.png" />
          </div>
          <h4>Restorative</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy 1500s.</p>
        </li>

        <li>
          <div class="iconInfo">
            <img src="../assets/images/pediatric-icon.png" />
          </div>
          <h4>Pediatric Dentistry</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy 1500s.</p>
        </li>

        <li>
          <div class="iconInfo">
            <img src="../assets/images/cosmetic-icon.png" />
          </div>
          <h4>Cosmetic Dentistry</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy 1500s.</p>
        </li>

      </ul>
    </div>
  </div>
  <!-- end We will help you with  -->
</div>