<div class="departHead">
  <div class="titleArea">

    <div class="breadCrumbs">
      <ul>
        <li>
          <a routerLink="" routerLinkActive="active-link">Home</a>
        </li>
        <li>/</li>
        <li>
          Department
        </li>
      </ul>
    </div>
    <!-- end breadcrumbs -->

    <h2>Department</h2>

  </div>
</div>


<div class="departIntro">
  <div class="departIntroText">
    <h4>ASSESSING THE STATE OF YOUR REPRODUCTIVE HEALTH!</h4>
    <h2>Testing Diagnostics Department</h2>
    <p>Here at our Testing & Diagnostics Dept. we’re dedicated to assessing the state of your reproductive health in the fastest
      and most precise manner! In short, this is the first department of them all that you’re going to visit at our clinic,
      even if you’ve already checked your reproductive health elsewhere before! The initial diagnostics will help you in
      many aspects, including helping you understand what your infertility issues are; assessing if any additional fertility
      tests are necessary.. </p>
  </div>
  <div class="departIntroPic">
    <img src="../assets/images/tab-img.jpg" />
  </div>
</div>

<!-- end intro text -->

<div class="departListBg">
  <div class="departList">
    <ul>
      <li>
        <div class="deparListPic">
          <img src="../assets/images/deparListPic-1.jpg" />
        </div>
        <p>Head of department</p>
        <h3>Lewis Parole</h3>

      </li>

      <li>
        <div class="deparListPic">
          <img src="../assets/images/deparListPic-2.jpg" />
        </div>
        <p>Head of department</p>
        <h3>Testing & Diagnostics</h3>

      </li>

      <li>
        <div class="deparListPic">
          <img src="../assets/images/deparListPic-3.jpg" />
        </div>
        <p>See doctors in this department</p>
        <h3>Find a doctor</h3>

      </li>

      <li>
        <div class="deparListPic">
          <img src="../assets/images/deparListPic-4.jpg" />
        </div>
        <p>Call us or fill in a form</p>
        <h3>Request an appointment</h3>

      </li>
    </ul>
  </div>
</div>

<!-- end listing -->



<div class="departIntro">
  <div class="departIntroText">
    <h4>FINDING A WAY TO HELP YOUR FAMILY!</h4>
    <h2>Artificial Solutions Department</h2>
    <p>If the testing & diagnostics processes are done and the treatment plan either fails or is not a viable option, are we
      out of options? Not really! With our incredible range of artificial solutions, we are ready to make either the IVF
      or any other option work for you and your family! Also, it’s worth noting that Our Fertility Center has the only operational
      donor egg bank in the U.S. using vitrification to freeze eggs.

    </p>
  </div>
  <div class="departIntroPic">
    <img src="../assets/images/diagnostics-img.jpg" />
  </div>
</div>

<!-- end intro text -->

<div class="departListBg">
  <div class="departList">
    <ul>
      <li>
        <div class="deparListPic">
          <img src="../assets/images/deparListPic-5.jpg" />
        </div>
        <p>Head of department</p>
        <h3>Dean Thomas</h3>

      </li>

      <li>
        <div class="deparListPic">
          <img src="../assets/images/deparListPic-6.jpg" />
        </div>
        <p>block B, 2nd floor</p>
        <h3>Artificial solutions</h3>

      </li>

      <li>
        <div class="deparListPic">
          <img src="../assets/images/deparListPic-7.jpg" />
        </div>
        <p>See doctors in this department</p>
        <h3>Find a doctor</h3>

      </li>

      <li>
        <div class="deparListPic">
          <img src="../assets/images/deparListPic-8.jpg" />
        </div>
        <p>Call us or fill in a form</p>
        <h3>Request an appointment</h3>

      </li>
    </ul>
  </div>
</div>

<!-- end listing -->