<div class="doctorsPage">
  <div class="titleArea">

    <div class="breadCrumbs">
      <ul>
        <li>
          <a routerLink="" routerLinkActive="active-link">Home</a>
        </li>
        <li>/</li>
        <li>
          Doctors
        </li>
      </ul>
    </div>
    <!-- end breadcrumbs -->

    <h2>Doctors</h2>

  </div>
</div>

<div class="teamBg">
  <div class="teamIntro">
    <div class="teamLeft">
      <h2>Meet the Dentists</h2>
      <h3>Pros Who Love Their Job!</h3>
      <p>While dentistry may seem like such an everyday need that it must be easy, actually it takes years of experience for
        dentists to master it.</p>
      <p>So, with the combined experience for all of iur dentists totalling 100 years, we feel that we’re the best.</p>
      <p>Be sure to check out our list of services and the prices.</p>
      <p>So, with the combined experience for all of iur dentists totalling 100 years, we feel that we’re the best.</p>
    </div>
  </div>
</div>

<div class="docBg">
  <div class="docList">
    <ul>
      <li>
        <div class="teamListPhoto">
          <img src="../assets/images/team-pic-1.jpg">
        </div>
        <div class="teamDetail">
          <h2>Jerry Nixon</h2>
          <h3>Dentist</h3>
          <p>Jerry walked a long way from his home state of Alaska to becoming one of the country's top
          </p>

          <div class="socalIcon">
            <ul>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-youtube-play"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-google-plus"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </li>
      <!-- end list -->
      <li>
        <div class="teamListPhoto">
          <img src="../assets/images/team-pic-2.jpg">
        </div>
        <div class="teamDetail">
          <h2>Jessy Windorf</h2>
          <h3>Dentist</h3>
          <p>After graduating from the Duke university with a magna cum laude in 1999 </p>

          <div class="socalIcon">
            <ul>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-youtube-play"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-google-plus"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </li>
      <!-- end list -->

      <li>
        <div class="teamListPhoto">
          <img src="../assets/images/team-pic-3.jpg">
        </div>
        <div class="teamDetail">
          <h2>Alex Buoyega</h2>
          <h3>Dentist</h3>
          <p>Alex is the head of our Surgery department. He practices at our clinic since its initial founding days</p>

          <div class="socalIcon">
            <ul>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-youtube-play"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-google-plus"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </li>
      <!-- end list -->

      <li>
        <div class="teamListPhoto">
          <img src="../assets/images/team-pic-4.jpg">
        </div>
        <div class="teamDetail">
          <h2>Daniel Hanson</h2>
          <h3>Dentist</h3>
          <p>Daniel is responsible for all bi-yearly general healthcare checkups. His experience as a therapist spans for more
            than</p>

          <div class="socalIcon">
            <ul>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-youtube-play"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-google-plus"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </li>
      <!-- end list -->

      <li>
        <div class="teamListPhoto">
          <img src="../assets/images/team-pic-5.jpg">
        </div>
        <div class="teamDetail">
          <h2>Hallie Manning</h2>
          <h3>Dentist</h3>
          <p>Phil is the head of our neurosurgery department. As our senior neurologist, he's responsible for the most sophisticated
            </p>

          <div class="socalIcon">
            <ul>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-youtube-play"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-google-plus"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </li>
      <!-- end list -->

      <li>
        <div class="teamListPhoto">
          <img src="../assets/images/team-pic-6.jpg">
        </div>
        <div class="teamDetail">
          <h2>Sylvia Gareth</h2>
          <h3>Dentist</h3>
          <p>As a dentist for Reconstructive surgery department, Buoyega deals a lot with people on the brink of desperation...
            </p>

          <div class="socalIcon">
            <ul>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-youtube-play"></i>
                </a>
              </li>
              <li>
                <a href="#" rel="nofollow">
                  <i class="team-socials_icon fl-glypho fa fa-google-plus"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </li>
      <!-- end list -->

    </ul>
  </div>
</div>