<div class="slideWraper">
  <div class="slideArea">
    <div class="slideInfo">
      <h2>Weekend
        <span>Discounts</span>
      </h2>
      <p>Saturdays and Sundays will ensure a 10% discount for anyone!</p>
      <div class="btn">
        <a routerLink="/appointment" routerLinkActive="active-link">Make an appointment</a>
      </div>
    </div>
  </div>

</div>


<div class="homeIntro">
  <div class="homeIntroArea">
    <ul>
      <li>
        <div class="introIcon">
          <img src="../assets/images/intro-icon-1.png" />
        </div>
        <h2>Cosmetic</h2>
        <p>This is probably the America’s favorite and most popular field of dentistry. Meant to make your teeth look whiter
          and your smile to be mesmerizing!</p>
      </li>

      <li>
        <div class="introIcon">
          <img src="../assets/images/intro-icon-2.png" />
        </div>
        <h2>Reconstruction</h2>
        <p>When we’re talking about restorative dentistry, most of it concerns fixing chipped or broken teeth, damaged gums
          et cetera…

        </p>
      </li>


      <li>
        <div class="introIcon">
          <img src="../assets/images/intro-icon-3.png" />
        </div>
        <h2>Prevention</h2>
        <p>Teeth cleanings, Fluoride and Sealant are just a few of our advanced diagnostics and preventative dentistry services!
        </p>
      </li>


      <li>
        <div class="introIcon">
          <img src="../assets/images/intro-icon-4.png" />
        </div>
        <h2>Pediatric</h2>
        <p>Taking good care of your oral hygiene is crucial at any age, especially if you visit your dentist less often than
          at least once every year.

        </p>
      </li>


      <li>
        <div class="introIcon">
          <img src="../assets/images/intro-icon-5.png" />
        </div>
        <h2>Emergency</h2>
        <p>Sometimes it involves Dental Filling and Bonding, which are quite simple dental procedures. Usually, they do not
          require numbing or any kind of anesthesia applied.

        </p>
      </li>


      <li>
        <div class="introIcon">
          <img src="../assets/images/intro-icon-6.png" />
        </div>
        <h2>Checkups</h2>
        <p>When it comes to one’s oral health, good hygiene habits and following all the routines can actually prevent most
          of dental care intrusions.

        </p>
      </li>
    </ul>
  </div>
</div>


<div class="bottomAppoint">
  <div class="bottomAppointArea">
    <p>Need Preventative, Cosmetic or Restorative
      <strong>Dental</strong> Help?
      <strong>We’ll Help Y’all</strong> Smile!</p>
    <div class="btn">
      <a routerLink="/appointment" routerLinkActive="active-link">Make an appointment</a>
    </div>
  </div>
</div>
<!-- end bottom appointmant -->


<div class="teamBg">
  <div class="teamIntro">
    <div class="teamLeft">
      <h2>Meet the Dentists</h2>
      <h3>Pros Who Love Their Job!</h3>
      <p>While dentistry may seem like such an everyday need that it must be easy, actually it takes years of experience for
        dentists to master it.</p>
      <p>So, with the combined experience for all of iur dentists totalling 100 years, we feel that we’re the best.</p>
      <p>Be sure to check out our list of services and the prices.</p>
      <p>So, with the combined experience for all of iur dentists totalling 100 years, we feel that we’re the best.</p>
    </div>
  </div>
</div>
<!-- end team -->

<div class="serviceBg">
  <div class="serviceInfo">
    <h2>What we do </h2>
    <ul>
      <li>
        <div class="iconInfo">
          <img src="../assets/images/services-1.png" />
        </div>
        <h4>New Patients & Emergencies </h4>
        <p>New patients and emergencies are always welcome.</p>
      </li>

      <li>
        <div class="iconInfo">
          <img src="../assets/images/services-2.png" />
        </div>
        <h4>Orthodontics For All Ages</h4>
        <p>Perfect your smile with braces or Invisalign.
        </p>
      </li>

      <li>
        <div class="iconInfo">
          <img src="../assets/images/services-2.png" />
        </div>
        <h4>Great Dental Implants</h4>
        <p>Replace missing teeth and secure loose fitting dentures. </p>
      </li>

    </ul>
  </div>
</div>
<!-- end We will help you with  -->

<div class="footerLogo">
  <div class="footerLogoArea">
    <ul>
      <li>
        <div class="clientLogo">
          <img src="../assets/images/brand-1.png" />
        </div>
      </li>
      <li>
        <div class="clientLogo">
          <img src="../assets/images/brand-2.png" />
        </div>
      </li>
      <li>
        <div class="clientLogo">
          <img src="../assets/images/brand-3.png" />
        </div>
      </li>
      <li>
        <div class="clientLogo">
          <img src="../assets/images/brand-4.png" />
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- end footer logo -->